<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>:

  <form>
      <fieldset>
          <legend>Enter your Details</legend>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" />
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" />
      </fieldset>
  </form>
</p>

